body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-family: 'Asap', sans-serif;
}

.header {
  background: #0984e3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 25px;
}

.header-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.calendar {
  height: auto;
  width: 1400px;
  background-color: #dfe6e9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.dias {
  height: auto;
  width: auto;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dia {
  height: auto;
  width: 100%;
  background: #b2bec3;
  margin: 3px;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 
  -5px -5px 15px rgba(255, 255, 255, 0.5),
  10px 10px 15px rgba(70, 70, 70, 0.12);
}

.dia-hoy {
  background: #74b9ff;
}
